.container-second{
width: 100%;
height: 250px;
margin-top: 50px;
display:flex;
justify-content: center;
column-gap: 20px;
.container-second-center{
   width:80%;
   height: 100%;
   margin: 0 auto;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
   column-gap: 20px;
   img{
    width: 322px;
    height: 241.5px;
    border-radius:16px ;
   }
}
}