.gold-center {
  width: 100%;
  height: 300px;
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #01494b;
  background-image: url(../images/header/mobile-landing-banner.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  object-fit: cover;
  .gold-center-center {
    width: 100%;
    height: 207px;
    margin: 0 290px;
    padding-right: 20px;
    .gold-center-center-text {
      width: 410px;
      height: 160px;
      display: flex;
      flex-flow: column wrap;
      .gold-center-center-text-span-1 {
        height: 69px;
        font-family: var(--font-family);
        text-align: justify;
        font-weight: 800;
        font-size: 33px;
        color: #ffffff;
        .gold-center-center-text-span-1-span {
          color: #ffd08f;
        }
      }
      .gold-center-center-text-span-2 {
        height: 90px;
        font-family: var(--font-family);
        font-size: 14px;
        color: #ffffff;
        text-align: justify;
        font-weight: 400;
        line-height: 30px;
      }
    }
    .gold-center-center-link {
      width: 200px;
      height: 40px;
      border: 1px solid #FFD08F;
      background-color: #FFD08F;
      font-size: 14px;
      font-weight: 500;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-family: var(--font-family);
      padding: 8px 16px;
      margin-top: 10px;
      border-radius: var(--border-radius);
      .gold-center-center-link-span {
        height: 26px;
        font-family: var(--font-family);
        font-size: 14px;
        color: #2b2b2b;
        text-align: center;
      }
    }
  }
}
