.hedphone{
    width: 2%;
    height: 2%;
    padding: 10px;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 70px;
    margin-right: 40px;
    z-index: 60;
    img{
        width: 74px;
        height: 50px;
        background-color: #EF4056;
        padding: 10px;
        border-radius: 50%;
        width: auto;
    }
}